{% extends "bootstrap/base.html" %}
{%block head %}
    {{super()}}
    <link rel="shortcut icon" href="/static/editor/icon/favicon.ico" />
{%endblock head%}
{%block styles%}
    {{super()}}
    {%include 'editorCss.html' ignore missing %}
{%endblock styles%}
{% block title %}混凝土工程博客{% endblock %} 
{% block navbar %}
<div class="navbar navbar-light" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="nav-link navbar-brand text-white bg-dark" href="{{url_for('index')}}">主页</a>
            {%if current_user.is_authenticated%}
                <a class="nav-link navbar-brand text-white bg-dark" href="{{url_for('create_post')}}">创建博文</a>
            {%endif%}
        </div>
        <div class="nav navbar-nav navbar-right">
            <div class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                    {%if current_user.is_authenticated%}
                        {{current_user.username}}
                    {%else%}
                        用户注册
                    {%endif%} 
                <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{{url_for('user_register')}}">用户注册</a></li>
                    <li><a href="{{url_for('user_login')}}">用户登录</a></li>
                    {%if current_user.is_authenticated%}
                        <li><a href="{{url_for('user_logout')}}">用户退出</a></li>
                    {%endif%}
                </ul>
            </div>
        </div>        
    </div>
</div>
{% endblock %} 
{% block content %}
    <div class="container-fluid">
        <div class="row" >
            <div class="col-sm-10" style="background-color:lavenderblush;">
               {% block left_content %}博文列表栏{% endblock %}
            </div>
            <div class="col-sm-2" style="background-color:lavender;">
                {% block right_content %}
                    博文分类栏
                {% endblock %}
            </div>
        </div>
    <div class="container-fluid">
        <div class="row" style="background-color:darkgray">
            <footer>
                {% block footer_content%}
                    <h4>The footer content has not implemented!</h4>
                {% endblock %}
            </footer>
        </div>
    </div>
{% endblock %}
{%block scripts%}
    {%include 'bootstrapScripts.html' ignore missing %}
    {%include 'editorScripts.html' ignore missing %}
{%endblock scripts%}



