{%extends 'bootstrap/base.html'%}

{% block title %}
    创建博文
{% endblock title %}

{%block content%}
<div class='container'>
    <div class='row' >
        <h2>创建博客文章</h2>
    </div>    
    <div class='container'>
        <form method='post'>
            {{ form.csrf_token }}
            <div class="form-group">
                {{form.post_title.label(for_='title')}}
                {{form.post_title(class="form-control", **{'aria-describedby':'helpId'})}}              
                <small id="helpId" class="form-text text-muted"></small>
            </div>
            

            
            
            {{ form.submit_post(class_='btn btn-success')}}

            
        </form>
    </div>
</div>  
{% endblock content%}