{%extends 'bootstrap/base.html'%}

{% block title %}
    创建博文
{% endblock title %}

{%block content%}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">其它作者</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="other_writers">请选择作者姓名</label>
                {{form.other_writers(class_='form-control', form='create_post', size=20)}}                
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div> 
<form id='create_post' method='post'>
    {{ form.csrf_token }}
</form>
<div class='container'>
    <div class='form-group row' >            
       <h2 class='text-center'>创建博客文章</h2>
    </div>
    <div class='form-group row' style='margin-bottom:0px'>
        {{form.post_title.label(for_='title', form='create_post')}}
    </div>
    <div class="form-group row">
        <div class='col-sm-6' style='padding-left:0px'>            
            {{form.post_title(class="form-control", form='create_post', **{'aria-describedby':'titleHelp'})}}
            <small id="titleHelp" class="form-text text-muted">请在这里输入文章的标题</small>
        </div>  
        <div class='col-sm-6'>
            {%if form.post_title.errors%}
            <span class='form-label' style='color:red'>您需要输入文章标题</span>
            {%endif%}
        </div>
    </div>

    <div class='form-group row'>                
        <button type='button' class='btn badge-pill btn-primary btn-sm' id='btn-writers' >
            其它作者:  <span class="badge badge-dark" id='selected_name'></span> 
        </button><span class="badge badge-dark" id='selected_name'></span>                      
    </div>
     
    <div class='form-group row'>
        {{ form.submit_post(class_='btn btn-primary', form='create_post')}}
    </div>

    

</div>

{% endblock content%}
{%block scripts%}
    {%include 'bootstrapScripts.html' ignore missing %}
    <script type='text/javascript'>        
        $(function(){
            $("#btn-writers").on('click', function(){
                $('#myModal').modal('show')
            })
            $('#other_writers').on('change', function(){
                var selected_writers = this.selectedOptions
                if(selected_writers.length > 0){
                    var selected_name = selected_writers[0].text 
                    for(i = 1; i < selected_writers.length; i++){
                        selected_name = selected_name + '  ,  ' + selected_writers[i].text
                    }
                    $('#selected_name').text(selected_name)
                }
            })            
        })
        ;$(function(){
            $('#other_writers').change()
        })
            
    </script>
{%endblock scripts%}