{%extends 'base_for_blog.html'%}

{%block styles%}
    {{super()}}
    <link rel="stylesheet" href="/static/editor.md/css/editormd.min.css" />
{%endblock styles%}
{%block head%}
    {{super()}}
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $POST_URL = $SCRIPT_ROOT + '/editor/' + '{{post_title}}'
    </script>
{%endblock head%}
{%block metas%}
    {{super()}}
    <meta charset="utf-8" />    
{%endblock metas%}

{%block content%}
<div class='container-fluid'>
    <div class='col-sm-11'>            
           
            <div id="post">
                <textarea class="editormd-markdown-textarea" name="post-markdown-doc"></textarea>                
            </div>
            <input type='button' class='btn btn-primary' value='存储' id='save-document'/>      
    <div class='col-sm-1'>

    </div>

</div>

{%endblock content%}

{%block scripts%}
    {{super()}}
    <script type='text/javascript' src="/static/editor.md/editormd.js"></script>
    <script type="text/javascript">
            var editor = editormd({
                id   : "post",
                path : "/static/editor.md/lib/",
                width: 100%$,
                height: 480,
                theme : "dark",
                
                toolbarIcons : function() {
                    // Or return editormd.toolbarModes[name]; // full, simple, mini
                    // Using "||" set icons align right.
                    return editormd.toolbarModes['simple']
                },
                // toolbarIcons : "full", // You can also use editormd.toolbarModes[name] default list, values: full, simple, mini.
                //previewTheme : "dark",
                //editorTheme : "pastel-on-dark",
                codeFold : true,
                syncScrolling : true,
                saveHTMLToTextarea : true,    // 保存 HTML 到 Textarea
                searchReplace : true,
                //watch : false,                // 关闭实时预览
                htmlDecode : "style,script,iframe|on*",            // 开启 HTML 标签解析，为了安全性，默认不开启    
                //toolbar  : false,             //关闭工具栏
                //previewCodeHighlight : false, // 关闭预览 HTML 的代码块高亮，默认开启
                emoji : true,
                taskList : true,
                tocm            : true,         // Using [TOCM]
                tex : true,                   // 开启科学公式TeX语言支持，默认关闭
                flowChart : true,             // 开启流程图支持，默认关闭
                sequenceDiagram : true,       // 开启时序/序列图支持，默认关闭,
                //dialogLockScreen : false,   // 设置弹出层对话框不锁屏，全局通用，默认为true
                //dialogShowMask : false,     // 设置弹出层对话框显示透明遮罩层，全局通用，默认为true
                //dialogDraggable : false,    // 设置弹出层对话框不可拖动，全局通用，默认为true
                //dialogMaskOpacity : 0.4,    // 设置透明遮罩层的透明度，全局通用，默认值为0.1
                //dialogMaskBgColor : "#000", // 设置透明遮罩层的背景颜色，全局通用，默认为#fff
                imageUpload : true,
                imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                imageUploadURL : "./php/upload.php",
                onload : function() {
                    console.log('onload', this);
                    //this.fullscreen();
                    //this.unwatch();
                    //this.watch().fullscreen();
                    //this.setMarkdown("#PHP");
                    //this.width("100%");
                    //this.height(480);
                    //this.resize("100%", 640);
                }
            });
    </script>
    <script type='text/javascript'>
        $(function() {
            $('input#save-document').bind('click', function() {
              $.get($POST_URL, {
                markdownDoc: editor.getMarkdown()
              });
              return false;
            });
          });
    </script>
    

{%endblock scripts%}
