{% extends "base_for_blog.html" %}
{% block head %}
    {{super()}}    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [['$','$'], ['\\(','\\)']],
                processEscapes: true
            }
        });
    </script>
          
{% endblock head %}
{% block metas %}
    {{super()}}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock metas %}

{% block styles %}
    <link rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
        crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" 
        crossorigin="anonymous">
{% endblock styles %}

{% block left_content %}
<form method='post'>
    <div class="form-group">
        <label for="title">标题</label>
        <input type="text" class="form-control" id="title" placeholder="文章标题">
      <small id="helpId" class="form-text text-muted">文章标题不可以是空白</small>
    </div>
    <div class="form-group">
      <textarea class="form-control" data-provide="markdown"
         name="article" id="post_editor" rows="20"></textarea>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="publish" id="publish" value="checkedValue">
        可以发布
      </label>
    </div>
    <button type="submit" class="btn btn-primary">提交</button>
</form>

{% endblock left_content %}
{% block scripts %}
    <script 
        src="/static/js/jquery-3.2.1.min.js">
    </script>
    <script 
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
        crossorigin="anonymous"></script>
    <script 
        src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js" 
        type="text/javascript"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.10.0/js/bootstrap-markdown.js">
    </script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Converter.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Sanitizer.min.js"></script>
    <script src="/static/js/markdown.js"></script>
    <script src="/static/js/to-markdown.js"></script>
    <script src="/static/js/main.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){            
            $("div.md-controls").remove()            
            $("div.md-fullscreen-controls").remove()
            
        })
        $("#post_editor").markdown(
            {
                autofocus: false,
                savable: false,
                resize: "vertical"            
            }) 
        (function ($) {
            $.fn.markdown.messages['zh'] = {
            'Bold': "粗体",
            'Italic': "斜体",
            'Heading': "标题",
            'URL/Link': "链接",
            'Image': "图片",
            'List': "列表",
            'Unordered List': "无序列表",
            'Ordered List': "有序列表",
            'Code': "代码",
            'Quote': "引用",
            'Preview': "预览",
            'strong text': "粗体",
            'emphasized text': "强调",
            'heading text': "标题",
            'enter link description here': "输入链接说明",
            'Insert Hyperlink': "URL地址",
            'enter image description here': "输入图片说明",
            'Insert Image Hyperlink': "图片URL地址",
            'enter image title here': "在这里输入图片标题",
            'list text here': "这里是列表文本",
            'code text here': "这里输入代码",
            'quote here': "这里输入引用文本"
            };
        }(jQuery));
        $("#post_editor").markdown({language:'zh'})
    </script>
   
  
{% endblock scripts %}