{%extends 'base_for_blog.html'%}

{%block styles%}
    {{super()}}
    <link rel="stylesheet" href="/static/editor.md/css/editormd.min.css" />
{%endblock styles%}
{%block head%}
    {{super()}}
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $POST_URL = $SCRIPT_ROOT  + '/editor' + '/{{post_title}}'
    </script>
    
{%endblock head%}
{%block metas%}
    {{super()}}
    <meta charset="utf-8" />    
{%endblock metas%}

{%block content%}
<div class='container-fluid'>
    <div class='col-sm-11'>
            <div id="post">
                <textarea form='editor' class="editormd-markdown-textarea" name="post-markdown-doc"></textarea>                
            </div>
            <input class='btn btn-primary' type='button' value='存储' id='save-document'/>
            <input class='btn btn-primary' type='submit' form=editor/>    
    <div class='col-sm-1'>
        <form id='editor'></form>
    </div>

</div>

{%endblock content%}

{%block scripts%}
    {{super()}}
    <script type="text/javascript">
        var csrf_token = "{{ csrf_token() }}";    
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });
    </script>
    <script type='text/javascript' src="/static/editor.md/editormd.js"></script>
    <script type='text/javascript' src="/static/editor/editor.js"></script>
{%endblock scripts%}
